<game_information_portions>

    <info_portion id="{{ title_id }}_start_info">
        <task>{{ title_id }}</task>
    </info_portion>
    <info_portion id="{{ title_id }}_done_info"></info_portion>

</game_information_portions>
